{% extends 'base.html' %}


{% block content %}
<div class="main">

    <div class="hero-section">
        <h1>About Ciao Book Shop</h1>
        <p><i>"Books are a uniquely portable magic." - Stephen King</i></p>
    </div>
    <p id="welcome">Welcome to Ciao Book Shop! We are passionate about books and committed to providing the best selection and service for our customers since 2020.</p>
    
    <hr>
    <div class="content">
        <h1>Our Mission</h1>
        <p>Our goal is to help people find the books and stories they're looking for, and to build a strong, welcoming community of book lovers. We believe that books can inspire, teach, and change lives.</p>
    </div>

    <div class="content">
        <h1>Our Values</h1>
        <p>We're committed to great books, happy customers, and staying connected with our community. We carefully choose a wide range of books that share different voices and ideas from all over the world.</p>
    </div>

    <div class="content">
        <h1>Contact Us</h1>
        <p><span>Address: </span>via papardo, unime, sicily.</p>
        <p><span>Email:&nbsp;  </span><a href="somewhere@gmail.com">Ciaobook@gmail.com</a></p>
        <p><span>phone: </span>+39-123-456-789</p>
    </div>

</div>
{% endblock %}


{% block styling %}

<style>
    main {
        width: 1300px;
        margin: -10px auto 0 auto;
        min-height: 100vh;
        background-color: rgba(158, 170, 181, 0.149); 
        position: fixed;
        transform: translateX(74px);
        z-index: 1;        
    }

    .hero-section {
    width: 500px;
    margin: 10px auto;
    height: 100px;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
   }

   #welcome {
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 1.2em;
   }

   .content {
    width: 1050px;
    height: 185px;
    margin: 20px auto 10px auto;
    padding: 10px 60px;
    background-color: #bdc4cc3c;
    border: 10px solid rgba(75, 136, 75, 0.661);
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-radius: 15px;
    
   }

   .content h1, p {
    padding: 10px;
    line-height: 20px;
   }

   .content p {
    font-size: 18px;
    
   }

   .content a {
    text-decoration: none;
   }
</style>
{% endblock %}