{% extends 'base.html' %}


{% block content %}

<div class="main">
<div class="container">
<h1>Login Here</h1>
<form method="POST" action="{% url 'books:login_view' %}">
    {% csrf_token %}

    <div class="inside">
    <label>Username</label><br>
    <input type="text" name="username" required><br>

    <label>Password</label><br>
    <input type="password" name="password" required><br>

    <button type="submit">Login</button>
    <p id="no_account">Don't have an account? <a href="{% url 'books:register' %}">Register Here</a></p>

    </div>
</form>
</div>
</div>
{% endblock %}

{% block styling %}


<style>

    main {
        width: 1300px;
        margin: 0 auto 0 auto;
        height: 1000px;
        background-color: rgba(5, 61, 113, 0.187); 
        position: fixed;
        transform: translateX(70px);
        
              
    }


.container {
    width: 480px;
    margin: 100px auto;
    background-color: rgba(34, 100, 158, 0.133);
    height: 490px;
    border-radius: 25px;
    padding: 25px;
    position: static;    
}


.container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form {
    position: absolute;
    padding: 20px;
    width: 440px;
    margin: auto;
    height: 365px;
    background-color: rgba(34, 100, 158, 0.175);
    border-radius: 25px;
    
}


.inside {
    height: 450px;
    width: 330px;
    margin: 40px auto;
    padding: 0;
}

.inside input {
    margin-bottom: 30px;
    width: 100%;
    padding: 7px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(34, 100, 158, 0.009);
    border-bottom: 2px solid rgba(255, 255, 255, 0.522);
    outline: none;  
    border-radius: 3px; 
}

.inside label {
    color: rgba(18, 18, 18, 0.947);
    font-size: 1.2em;
}


.inside button {
    width: 250px;
    height: 40px;
    background-color: rgba(4, 52, 93, 0.532);
    margin: 0 auto;
    color: white;
    position: absolute;
    overflow: hidden;
    font-size: 20px;
    border-radius: 3px;
    left: 80px;
    margin-top: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

#no_account {
    margin: 70px auto 10px auto;
    text-align: center;
}

#no_account a {
    text-decoration: none;
    color: rgb(5, 109, 36);
}

#no_account a:hover {
    font-size: large;
    color: blue;
}
</style>


{% endblock %}