<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="order-list">

            {% for order in orders %}
                <img src="{{order.book.image.url}}">
                <p>{{order.status}}</p>
                <p>{{order.created_at}}</p>
                <p>{{order.total_amount}}</p>
                <p>{{}}</p>
        </div>
    </div>
</body>
</html>