{% extends 'base.html' %}

{% block content %}

    
    <div class="main">

        

       
            {% if messages %}
            
            <h2>You have Successfully Placed Your Order</h2>
            <a  href="{% url 'books:home' %}" id="go_back_to_shopping">Go back to shop more</a>
            {% endif %}

    
    
    
    </div>


{% endblock %}




{% block styling %}
<style>



   .main {
    height: 100vh;
    width: 100%;
    background-color: rgba(137, 229, 168, 0.35);
    position: fixed;
  }
         


    .main h2 {
        margin: 50px auto;
        padding: 50px;
        text-align: center;
        color: rgb(236, 7, 19);
        font-size: 35px;
    }

    #go_back_to_shopping {
        display: inline-block;
        padding: 15px 30px;
        text-align: center;
        color: rgb(25, 24, 24);
        font-size: 24px;
        background-color: rgba(7, 239, 80, 0.862);
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        border: none;
        font-weight: 550;
        margin-left: 520px;
        width: 400px;
    }

   

 
    </style>
{% endblock %}